<script src="public/js/iscroll/iscroll.js"></script>
<div>
    <img style="width: 100vw;min-height: 150px" id="headimg"
         src="https://gw.alicdn.com/tfs/TB1R.cskfDH8KJjy1XcXXcpdXXa-750-300.jpg_q75.jpg" alt="">
    <header class="toolbar sticky">
        <div class="toolbar__btn-wrapper clearfix">
            <div class="toolbar__btn toolbar__back">
                <a href="javascript:;" onClick="closePage()">
                    <i class="iconfont icon-back_light"></i>
                </a>
            </div>
        </div>
    </header>
    <% if (topsell.length > 0) {%>
    <div class="header-nav-con">
        <div id="cell-iscroll">
            <div class="header-nav" id="header-nav" style="touch-action: none;">
                <ul class="header-nav-list">

                    <% topsell.forEach(function (item,index) {  %>
                    <li class="header-nav-item <%if(index==0){%>select<%}%>" data-model="<%=item.id%>">
                        <a href="javascript:;" onclick="navsekect(this)">
                            <span><%=item.cName%></span>
                        </a>
                    </li>
                    <% }) %>

                </ul>
            </div>
        </div>
        <button class="filter-icon js-hide js-noBg"></button>
    </div>
    <% } %>
</div>
<script>
    $(function () {
    	var win_width = $(window).width();
        $('#headimg').css('min-height',win_width/375.0*150.0);
    })
	new IScroll('#header-nav', {scrollX: true, scrollY: true, freeScroll: true,click: true });
	function navsekect(currentTarget) {
		$('.select').removeClass('select');
		$(currentTarget).parent().addClass('select');

		var sele_id = $(currentTarget).parent().attr("data-model");
		changeSelect(sele_id);
	}
</script>