<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tim.mapper.TTbkItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tim.entity.TTbkItem">
        <id column="id" property="id" />
        <result column="commission_type" property="commissionType" />
        <result column="commission_rate" property="commissionRate" />
        <result column="coupon_click_url" property="couponClickUrl" />
        <result column="coupon_id" property="couponId" />
        <result column="coupon_end_time" property="couponEndTime" />
        <result column="coupon_info" property="couponInfo" />
        <result column="coupon_remain_count" property="couponRemainCount" />
        <result column="coupon_start_time" property="couponStartTime" />
        <result column="coupon_total_count" property="couponTotalCount" />
        <result column="shop_dsr" property="shopDsr" />
        <result column="shop_title" property="shopTitle" />
        <result column="item_id" property="itemId" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="isdelete" property="isdelete" />
        <result column="category" property="category" />
        <result column="include_dxjh" property="includeDxjh" />
        <result column="include_mkt" property="includeMkt" />
        <result column="coupon_amount" property="couponAmount" />
    </resultMap>

</mapper>
