<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tim.mapper.TTopSellMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tim.entity.TTopSell">
        <id column="id" property="id" />
        <result column="icon" property="icon" />
        <result column="c_name" property="cName" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="isdelete" property="isdelete" />
        <result column="keyword" property="keyword" />
    </resultMap>

</mapper>
