<div class="main-frame" style="
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    -webkit-overflow-scrolling:touch;
    overflow:auto!important;
    background-color: white;">

    <iframe style="width: 100vw;height: 100vh;">
    </iframe>
</div>

<div class="spinner-div" style="top: 0;left: 0;">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<script>

	window.addEventListener('message', function (e) {
		var data = e.data;
		if (data == 'loadfinish') {
			iframe_finish();
			return;
		}
		if (data.action == 'closeframe') {
			var self_item = window.document.getElementsByClassName('main-frame');
			$(self_item).fadeOut(100);
			document.scrollingElement.scrollTop = window.scrollTop;
			$(".main").show();
			return;
		}
	}, false);

	function iframe_finish() {
		var target = $('.main-frame iframe');
		if (!target.attr('src')) {
			$(".spinner-div").hide();
			return;
		}
		$(target).parent('.main-frame').show();
		$(".spinner-div").hide();
	}

	function open_url(event,url) {

		$(".spinner-div").show();

		var target = $('.main-frame iframe');
		target.attr('src', url);
		// $("body").css("position","fixed");

		window.scrollTop = document.scrollingElement.scrollTop;
		$(".main").hide();

	}
</script>