<%- include('temple/head.ejs'); %>
<body>

<link rel="stylesheet" href="public/js/swiper/css/swiper.min.css">
<link rel="stylesheet" href="public/js/dropload/dropload.css">
<script src="public/js/jQuery/jQuery.min.js"></script>

<div class="main">

	<div class="page-header">
		<div class="logo-div">
			<div style="display: none" class="logo"></div>
		</div>
		<div class="search-input" mx-click="mockInput()">
			<span class="search_icon"></span>
			<span class="input_value">中长款风衣 女</span>
		</div>
	</div>

	<div class="swiper-container" id="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="">
					<img src="public/image/banner/1.jpg">
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img src="public/image/banner/2.jpg">
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img src="public/image/banner/3.jpg">
				</a>
			</div>
		</div>
	</div>
	<div class="swiper-pagination"></div>
	<script src="public/js/swiper/js/swiper.js"></script>
	<script>
		var bef = (document.body.clientWidth * 2.5) / 100.0;
		var swiper = new Swiper('#swiper-container', {
			slidesPerView: 1,
			spaceBetween: bef * 2,
			slidesOffsetBefore: bef,
			loop: true,
			pagination: {
				el: '.swiper-pagination',
			},
		})
	</script>

	<div class="category-div">
		<div>
			<a class="item" href="">
				<img src="public/image/cat_item/item1.png" alt="">
				<span>我的淘宝</span>
			</a>
		</div>
		<div>
			<a class="item" href="">
				<img src="public/image/cat_item/item1.png" alt="">
				<span>我的淘宝</span>
			</a>
		</div>
		<div>
			<a class="item" href="">
				<img src="public/image/cat_item/item1.png" alt="">
				<span>我的淘宝</span>
			</a>
		</div>
		<div>
			<a class="item" href="">
				<img src="public/image/cat_item/item1.png" alt="">
				<span>我的淘宝</span>
			</a>
		</div>
		<div>
			<a class="item" href="">
				<img src="public/image/cat_item/item1.png" alt="">
				<span>我的淘宝</span>
			</a>
		</div>
		<div>
			<a class="item" href="">
				<img src="public/image/cat_item/item1.png" alt="">
				<span>我的淘宝</span>
			</a>
		</div>
		<div>
			<a class="item" href="">
				<img src="public/image/cat_item/item1.png" alt="">
				<span>我的淘宝</span>
			</a>
		</div>
		<div>
			<a class="item" href="">
				<img src="public/image/cat_item/item1.png" alt="">
				<span>我的淘宝</span>
			</a>
		</div>
		<div>
			<a class="item" href="">
				<img src="public/image/cat_item/item1.png" alt="">
				<span>我的淘宝</span>
			</a>
		</div>
		<div>
			<a class="item" href="">
				<img src="public/image/cat_item/item1.png" alt="">
				<span>我的淘宝</span>
			</a>
		</div>
	</div>

	<div class="hasmore" style="display: none" more="<%=total%>"></div>
	<div data-mxview="atb_like">
		<div class="">
			<h3 class="atb_like_title">猜你喜欢</h3>
			<div class="waterfall" id="like-list-con">
				<div class="waterfall-list">

					<!--<div class="waterfall-footer" style="clear:both;">-->
					<!--<div class="waterfall-status-done js-hide">亲，没有更多了</div>-->
					<!--<div class="waterfall-status-loading js-hide"><p><span class="loading-icon"></span><span-->
					<!--class="loading-text">加载中</span></p></div>-->
					<!--<div class="waterfall-status-error js-hide">服务器开小差啦，请稍后再试</div>-->
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>

</div>

<script src="public/js/dropload/dropload.min.js?time=20181212"></script>
<script>
	$(function () {

		var page = 1;
		// dropload
		var dropload = $('body').dropload({
			scrollArea: window,
			domUp: {
				domClass: 'dropload-up',
				domRefresh: '<div class="dropload-refresh">↓下拉刷新</div>',
				domUpdate: '<div class="dropload-update">↑释放更新</div>',
				domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
			},
			domDown: {
				domClass: 'dropload-down',
				domRefresh: '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData: '<div class="dropload-noData">数据已经加载完毕</div>'
			},
			loadUpFn : function(me){
				page = 1;
				$.ajax({
					type: 'POST',
					url: '/i_page',
					data: {categoryid: 0, pageNo: page},
					dataType: 'html',
					success: function (data) {
						model(data,me,"up");
					},
					error: function (xhr, type) {
						// 即使加载出错，也得重置
						me.lock()
						me.noData();
						me.resetload();
					}
				});
			},
			loadDownFn: function (me) {
				$.ajax({
					type: 'POST',
					url: '/i_page',
					data: {categoryid: 0, pageNo: page},
					dataType: 'html',
					success: function (data) {
						model(data,me,"down");
					},
					error: function (xhr, type) {
						// 即使加载出错，也得重置
						me.lock()
						me.noData();
						me.resetload();
					}
				});
			},
		});

		function model(data,me,m) {

			var total = $('.hasmore').attr("more");
			var len = $('.waterfall-list .waterfall-item').length;

			console.log("asdasd")
			if (m === 'down'){
				if (len >= total){
					me.lock();
					me.noData();
					me.resetload();
					return ;
				}
			}

			try {
				if (page === 1){
					$('.waterfall-list').html(data);
				}else {
					$('.waterfall-list').append(data);
				}
			}catch (e){}
			page++;
			// 每次数据加载完，必须重置
			if (m === 'down'){
				if (len >= total){
					me.lock();
					me.noData();
				}
			}

			me.resetload();
		}


	});
</script>
</body>
<%- include('temple/foot.ejs'); %>