<div class="module" data-module="category" data-mode="category-mode10">
    <div class="category clear"
         style="background-color: rgb(255, 255, 255); position: relative; top: 0px;">
        <ul class="category-wrap clear">
            <li class="select">
                <a href="javascript:void(0)" data-tab="综合排序" class="">
                    默认排序
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-tab="销量" class="">
                    月销量
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-tab="价格" class="">
                    价格 <span class="iconfont"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-tab="价格从高到低" class="hover">
                    价格 <span class="iconfont"></span>
                </a>
            </li>
        </ul>

    </div>
</div>