<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tim.mapper.TCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tim.entity.TCategory">
        <id column="id" property="id" />
        <result column="cat_name" property="catName" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="isdelete" property="isdelete" />
        <result column="parent_id" property="parentId" />
    </resultMap>

</mapper>
